@model EM.Domain.Aluno

@{
    ViewData["Title"] = "Cadastrar Aluno";
}

<h2>@ViewData["Title"]</h2>

<h4>Cadastro</h4>


@if(TempData["matriculaobrigatoria"] != null)
{
    <div class="alert alert-success">@TempData["matriculaobrigatoria"]</div>
}

@if(TempData["cpfinvalido"] != null)
{
    <div class="alert alert-success">@TempData["cpfinvalido"]</div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastrarAluno">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control"  value=@ViewBag.DadosMatricula/>
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <select 
                    asp-for="Sexo"  class="form-control" asp-items="Html.GetEnumSelectList<EnumeradorSexo>()">
                </select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nascimento" class="control-label"></label>
                <input asp-for="Nascimento" class="form-control" type="date" />
                <span asp-validation-for="Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" id="cpf"/>
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-secondary">Retornar</a>
            </div>
        </form>
    </div>
</div>

                
@section Scripts {
    <script>
        $(document).ready(function ()
        {
            $("#cpf").mask("999.999.999-99", {reverse:true});
    });
    </script>
    }